# IDE
.idea/

# CMake Build
cmake-build-*/

# Compiled Files
*.o
*.so
*.a
*.out
*.elf

# Temporal Files
*~
*.swp

roms/

# Simple crib sheet of bitwise operations
docs/bitwise_operations_sheet_in_c.md

build/